:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media() {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
section.top-hero p {
  font-weight: 600;
  /* text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.25); */
 }

/*Navigation*/
a.navEnlace {
  font-weight: 500;
  font-size: 17px;
  color: #00283c;
}
img.logo{
  width: 100%;
  height: auto;
}
span.navbar-toggler-icon {
  filter: contrast(1.5);
}

/*Footer*/


.btn-first {
  background-color: #F00699;
  color: #fff;
  padding: 0.75rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn-first:hover {
  background-color: #d0cfec;
  color: #000807;
  transition: .25s;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
}

.btn-second {
  background-color: #d0cfec;
  color: #000807;
  padding: 0.75rem;
  border-radius: 10px;
  text-decoration: none;
}

.btn-second:hover {
  background-color: #F00699;
  color: #fff;
  transition: .25s;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
}
nav.top-navigation {
  /* height: 6rem; */
  background: transparent;
}

/*home page*/
section.top-hero {
  background-image: linear-gradient(
      rgba(250, 250, 250, 1.5),
      rgba(250, 250, 250, 0.1)
    ),
    url("../imgs/dragonfly-ave-9kym63uN-QE-unsplash.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.teaser-heading {
  margin-bottom: 1rem;
}
.hold-teaser-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.about-teaser {
  padding: 1rem 0rem;
  margin: 2rem 0rem;
}
.projects-teaser {
  background-color: #f0f8ff;
  padding: 2rem 0rem;
  margin: 2rem 0rem;
}
.hold-project-cards {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hold-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hold-header-cta {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hold-cta a {
  margin: 1.5rem 0rem;
}
.hold-header-cta a.bloglink {
  margin: 0rem 1rem 2rem;
}
.project.card {
  height: 100%;
    box-shadow: 1px 2px 16px rgba(0,0,0,0.25);
    border: none;
    margin: 1rem auto;
}
.project.card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project.card img {
  width: 100%;
  height: auto;
}
section.blog-teaser {
  margin: 3rem auto;
}
section.blog-teaser p.blog-excerpt {
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
}
section.blog-teaser img.feat-blog-post-img {
  width: 100%;
  height: auto;
  margin: 1rem;
}

/* about page */
section.about-header {
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.75),
      rgba(250, 250, 250, 0.25)
    ),
    url("../imgs/pexels-adrienne-andersen-2351844.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}

section.about-text-container {
  padding: 2rem;
  margin: 1rem;
}

/* projects page */
.card-link {
  text-decoration: none;
}
section.projects-header {
  margin-top: 6rem;
}
.card img.project-page-imgs {
  width: 100%;
  height: auto;
}

/*featured projects detail pages */
section.feat-proj1-header, section.feat-proj2-header, section.feat-proj3-header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.25);
  padding: 2rem;
}
p.project-overview, p.project-process, p.project-outcome {
 margin: 1rem auto;
}

a.projectDetailLinks {
  color:  #00283c;
  font-weight: bold;
  text-decoration: none;
}
a.projectDetailLinks:hover {
  color: #F00699;
}
a.back-feat-projects {
  color:  #00283c;
  font-weight: bold;
  text-decoration: none;
}
a.back-feat-projects:hover {
  color: #F00699;
}

h1.feat-proj-heading {
  color: #000807;
}
section.feat-project-text-container {
  margin: 1rem;
  padding: 1rem;
}
img.mini-gallery-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  margin-top: 2rem;
}
img.modalImage {
  width: 100%;
  height: auto;
}
.modalContent {
  position: absolute;
  inset: 90px 50px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
}
.modalOverlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}
.modalButton {
 margin: 1rem 1.5rem; 
}

/* featured project 1 page - accrp */
section.feat-proj1-header {
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.85),
      rgba(250, 250, 250, 0.15)
    ),
    url("../imgs/projects/accrp.png");
    background-position: center;
}

/* featured project 2 page - 240 cert */
section.feat-proj2-header {
  background-image: linear-gradient(
    rgba(250, 250, 250, 0.05),
    rgba(250, 250, 250, 0.05),
    rgba(250, 250, 250, 0.95),
    rgba(250, 250, 250, 0.95)
  ),
  url("../imgs/projects/240cert.png");
  background-position: bottom;
}

section.feat-proj2-header h1.feat-proj-heading {
  color: #000807;
}

/* featured project 3 page - ai uf*/
section.feat-proj3-header {
  background-image: linear-gradient(
    rgba(250, 250, 250, 0.85),
    rgba(250, 250, 250, 0.85),
    rgba(250, 250, 250, 0.15),
    rgba(250, 250, 250, 0.15)
  ),
  url("../imgs/projects/ai-ufl.png");
  background-position: top;
}


/* contact page */
section.contact-header {
  background-image: linear-gradient(
      rgba(250, 250, 250, 0.75),
      rgba(250, 250, 250, 0.5)
    ),
    url("../imgs/pexels-christina-morillo-1181210.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.hold-contact-content {
  padding: 2rem;
  margin: 1rem;
}
.hold-form-text {
  margin-bottom: 1rem;
}
.form-paragraph {
  margin: 1rem auto;
  padding: 1rem;
}
div.cog-input div.el-textarea #cog-3.el-textarea__inner {
  min-height: 200px;
  height: 200px;
}

/**Footer*/
footer.the-footer {
  background-color: #f0f8ff;
}

/*//////////////////////////*/
/*////Responsive Styles/////*/
/*//////////////////////////*/

@media(max-width: 991px){
  div.navbar-collapse#navbarNav {
    background-color: #f0f8ff;
  }
  a.navEnlace {
    margin: auto 1rem;
  }
  button.navbar-toggler {
    border: none;
  }
  a.navbar-brand {
    margin: auto 1rem;
  }
  div.hold-nav-links#holdNavLinks {
    padding-left: 0;
    padding-right: 0;
  }
  section.top-hero {
    background-position: bottom;
    background-size: auto;
  }
  section.top-hero p {
   /* font-weight: 500; */
   /* text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25); */
   font-size: 16px;
  }
  p.teaser-text, p.blog-excerpt, p.project-overview, p.project-process, p.project-outcome, section.about-text-container p, section.about-tech-resume p, section.projects-header p, p.form-paragraph   {
    font-size: 16px;
  }
  p.card-text {
    font-size: 15px;
  }
 
  section.about-text-container, section.about-tech-resume, section.about-teaser, section.projects-teaser, section.blog-teaser, section.hold-contact-content {
    padding: 1rem;
    margin: 1rem;
  }
  section.feat-proj1-header, section.feat-proj2-header, section.feat-proj3-header{
    background-size: auto;
  }

  .modalContent {
    inset: 80px 9px 8px;   
  }

  .modalButton {
   margin: 0.5rem; 
  }
  .btn-first.modalButton {
    padding: 0.25rem;
    font-size: .75rem; 
  }

}

@media(max-width: 540px) {
  img.logo{
    width: 75%;
    height: auto;
  }
}